<header class="header">
    <div class="container">
        <div class="logo">
            <a routerLink="/">Lodgr</a>
        </div>
        <nav class="navigation">
            <ul>


                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/spaces">Explore Spaces</a></li>
                
                @if(isLoggedIn) {
                    <!-- User routes -->
                    <li><a routerLink="/rent-space">Rent Your Space</a></li>
                    <li><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
                } @else {
                    <!-- Guest routes -->
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">Register</a></li>
                }
                
                </ul>
        </nav>
    </div>
</header>