<header class="header">
    <div class="container">
        <div class="logo">
            <a routerLink="/">Lodgr</a>
        </div>
        <nav class="navigation">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/spaces">Explore Spaces</a></li>
                <!-- User routes -->
                <li><a routerLink="/rent-space">Rent a Space</a></li>
                 <!-- Guest routes -->
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </ul>
        </nav>
    </div>
</header>